
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- ini Logo -->
    <a
      class="navbar-brand"
      href="/home"
    >
      <img
        src="/image/logo.png"
        alt="SinauO"
        width="50"
        height="44"
        style="margin-left: 30px"
      />
    </a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="/home/profile"
            >Profile</a
          >
        </li>
        <% if (role){ %>
          <% if (role === 'instructor') { %>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/home/manage"
                >Manage Student</a
              >
            </li>
          <% } else if (role === 'admin'){%>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="/home/manage"
                    >Manage Users</a
                  >
                </li>
              <% } %>
        <% } %>
        <li class="nav-item">
          <a href="/logout"
            class="nav-link"
            aria-disabled="true"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
